.maplibregl-terradraw-render-button {
	background: url('./icons/render_on.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;

	&.enabled {
		background: url('./icons/render_off.svg');
		background-size: 100%;
	}
}

.maplibregl-terradraw-measure-render-button {
	background: url('./icons/render_measure_on.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;

	&.enabled {
		background: url('./icons/render_measure_off.svg');
		background-size: 100%;
	}
}

.maplibregl-terradraw-valhalla-render-button {
	background: url('./icons/render_valhalla_on.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;

	&.enabled {
		background: url('./icons/render_valhalla_off.svg');
		background-size: 100%;
	}
}

.maplibregl-terradraw-measure-add-point-button,
.maplibregl-terradraw-add-point-button {
	background: url('./icons/point.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 150%;
}

.maplibregl-terradraw-measure-add-linestring-button,
.maplibregl-terradraw-add-linestring-button {
	background: url('./icons/linestring.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
}

.maplibregl-terradraw-valhalla-add-linestring-button {
	background: url('./icons/valhalla_route.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
}

.maplibregl-terradraw-measure-add-polygon-button,
.maplibregl-terradraw-add-polygon-button {
	background: url('./icons/polygon.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
}

.maplibregl-terradraw-measure-add-rectangle-button,
.maplibregl-terradraw-add-rectangle-button {
	background: url('./icons/rectangle.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
}

.maplibregl-terradraw-measure-add-angled-rectangle-button,
.maplibregl-terradraw-add-angled-rectangle-button {
	background: url('./icons/angled-rectangle.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.maplibregl-terradraw-measure-add-circle-button,
.maplibregl-terradraw-add-circle-button {
	background: url('./icons/circle.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
}

.maplibregl-terradraw-measure-add-freehand-button,
.maplibregl-terradraw-add-freehand-button {
	background: url('./icons/freehand.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
}

.maplibregl-terradraw-measure-add-freehand-linestring-button,
.maplibregl-terradraw-add-freehand-linestring-button {
	background: url('./icons/freehand_line.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
}

.maplibregl-terradraw-valhalla-add-select-button,
.maplibregl-terradraw-measure-add-select-button,
.maplibregl-terradraw-add-select-button {
	background: url('./icons/select.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;

	&:disabled {
		background-color: rgb(235, 235, 228);
	}
}

.maplibregl-terradraw-measure-add-sensor-button,
.maplibregl-terradraw-add-sensor-button {
	background: url('./icons/sensor.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
}

.maplibregl-terradraw-measure-add-sector-button,
.maplibregl-terradraw-add-sector-button {
	background: url('./icons/sector.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.maplibregl-terradraw-valhalla-add-control,
.maplibregl-terradraw-measure-add-control,
.maplibregl-terradraw-add-control {
	display: block;

	&.hidden {
		display: none;
	}

	&.active {
		background-color: #fbc412;
	}
}

.maplibregl-terradraw-valhalla-delete-button,
.maplibregl-terradraw-measure-delete-button,
.maplibregl-terradraw-delete-button {
	background: url('./icons/delete.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;

	&:disabled {
		background-color: rgb(235, 235, 228);
	}
}

.maplibregl-terradraw-valhalla-delete-selection-button,
.maplibregl-terradraw-measure-delete-selection-button,
.maplibregl-terradraw-delete-selection-button {
	background: url('./icons/delete_selection.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;

	display: block;

	&.hidden-delete-selection {
		display: none;
	}
}

.maplibregl-terradraw-valhalla-download-button,
.maplibregl-terradraw-measure-download-button,
.maplibregl-terradraw-download-button {
	background: url('./icons/download.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;

	&:disabled {
		background-color: rgb(235, 235, 228);
	}
}

.maplibregl-terradraw-valhalla-settings-button {
	background: url('./icons/settings.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
}
